﻿@using ProyectoBlockChain.Logica.Core

@model List<VotoSolidityDTO>


<div class="contenedor-registro">
<h2>Explorador de Votos en la Blockchain</h2>

@if (Model.Count == 0)
{
    <p>No hay votos registrados todavía.</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Partida</th>
                <th>Jugador</th>
                <th>Capítulo</th>
                <th>Opción Elegida</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var voto in Model)
            {
                <tr>
                    <td>@voto.PartidaId</td>
                    <td>@voto.Jugador</td>
                    <td>@voto.CapituloId</td>
                    <td>@voto.OpcionElegida</td>
                    <td>@DateTimeOffset.FromUnixTimeSeconds((long)voto.Timestamp).ToLocalTime()</td>
                </tr>
            }
        </tbody>
    </table>
}
</div>